/* src/components/ui/Button/Button.module.css */

.button {
  width: 100%;
  /* AUMENTAMOS O PADDING E A FONTE */
  padding: 16px 20px;
  background-color: #FFD700;
  color: #121212;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #ffc107;
  transform: translateY(-3px); /* Efeito mais pronunciado */
  box-shadow: 0 4px 15px rgba(255, 215, 0, 0.2);
}
.button:disabled {
  background-color: #5a5a5a;
  color: #9a9a9a;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}