/* src/components/ui/Input/Input.module.css */

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  /* A CORREÇÃO ESTÁ AQUI */
  color: #000000; /* Cor branca para contraste máximo */
  font-size: 1rem;
  font-weight: 500; /* Deixa a fonte um pouco mais "cheia" */
  margin-bottom: 10px;
}

.input {
  background-color: #f2ecec;
  border: 1px solid #555;
  color: #FFFFFF;
  padding: 16px 18px; 
  border-radius: 8px;
  font-size: 1.1rem; 
  transition: all 0.3s ease;
}

.input::placeholder {
  color: #6c757d;
}

.input:focus {
  outline: none;
  border-color: #FFD700;
  box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.2);
}